.s-hero {
  background-color: $hero-background;
  margin-top: 11.9rem;
  padding-top: 3.9rem;
  .container {
    @include flex(row,flex-start,space-between)
  }
  .text {
    max-width: 55rem;
    width: 100%;
    h1 {
      font-style: normal;
      font-weight: 700;
      font-size: 4.8rem;
      line-height: 120%;
      color: $title-01-color;
      margin-bottom: 1.6rem;
    }
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 150%;
      color: $title-01-color;
      max-width: 48.8rem;
      margin-bottom: 3.2rem;
    }
    button {
      @include style-btn(5.4rem,$button-background,$hero-background)
    }
    .about {
      display: flex;
      align-items: center;    
      margin-top: 4.8rem; 
      .icon {
        width: 4.2rem;
        height: 4.2rem;
        background-color: rgba(123,90,186,0.4);
        border-radius: 6px;      
        @include flex(row,center,center);        
      }
      span{
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 1.9rem;
        color: #FFFFFF;
        margin-left: 1.6rem;
      }
    }
    
  }
  .image-hero{
    img {
    position: relative;
    top: 3.4rem
  }
  }
  @include responsive(991px) {
    .container {
    display: flex;
    flex-direction: column;
    }
    .text{
      max-width: 100%;
      h1{
        text-align: center;
      }
      p{
        max-width: 100%;
        text-align: center;
      }
      button {
        display: block;
        margin: 0 auto;
      }
      .about {
        justify-content: center;
      }
      
      
    }
}
  @include responsive(700px) {
    padding-top: 4.5rem;
    margin-top: 8rem;
    .text {
      h1 {
        font-size: 4.3rem;
      }
    }
    img {
      left: -25px
    }
  }
}
.s-resources{
  padding-top: 14.9rem;
  padding-bottom: 9.9rem;
  .top{
    @include flex(row, center, space-between);
    margin-bottom:  5.3rem;
    h2 {      
      font-weight: 700;
      font-size: 3.2rem;
      line-height: 130%;
      color: $title-02-color;
      max-width: 52rem;
    }
    p{
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 150%;
      color: $text-color;
    }
  }
  .content {
    @include flex(row, flex-start, space-between);
    .icon {
      width: 6.4rem;
      height: 6.4rem;
      border-radius: 6px;
      background-color: rgba(197,190,220,0.1);
      margin-bottom: 3rem;
      @include flex(row, center,center);

    }
    .info {
      max-width: 23.9rem;
      h4 {
        font-weight: 800;
        font-size: 18px;
        line-height: 22px;
        color: #5F3CA1;
        margin-bottom: 2rem;
      }
      p{
        font-weight: 400;
        font-size: 16px;
        line-height: 165%;
        color: #5E5570;
      }
    }
    .card-featured{
      width: 100%;
      max-width: 28rem;
      height: 32.3rem;
      background: rgba(197, 190, 220, 0.1);
      border-radius: 12px;
      padding-top: 4.1rem;
      padding-left: 4.2rem;
      .icon {
        background-color: white;
      }
      .info{
        max-width: 20.4rem;
      }
    }
    ul {
      width: 100%;
      max-width: 90.4rem;
      @include flex(row, flex-start, space-between);
      margin-top: 4.1rem;
      padding-bottom: 6.5rem;
      border-bottom: 3px solid rgba(95, 60, 161, 0.1);
    }
  }
}